---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -fuchsia-*,
        -google-*,
        -hicpp-avoid-c-arrays,
        -llvm*,
        -misc-non-private-member-variables-in-classes,
        -modernize-avoid-c-arrays,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-magic-numbers,
        -readability-static-accessed-through-instance,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
